<style>
#header {
width:800px;
background-color:black;
color:white;
text-align:center;
padding:5px;
}
#nav {
font-family: Chalkboard;
font-size:20px;
line-height:30px;
background-color:black;
text-color:white;
height:40px;
width:800px;
float:center;
line-height:40px;
}
#section {
width:800px;
float:center;
padding:10px; 
}
#footer {
background-color:black;
color:white;
clear:both;
text-align:center;
padding:5px; 
}
</style>